@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.footer {
    color: rgb(246, 242, 226);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    margin: 2% auto;
    padding: 0 20px;
}

.footer p {
    margin: 0;
    padding: 0;
}

.date {
    text-align: right;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }
    .date {
        text-align: left;
    }
}