@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Paytone+One&display=swap');

.blog-text {
    display: block;
    width: 100%;
    max-width: 1980px;
    margin: 10% auto;
    padding: 0 20px;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    color: rgb(246, 242, 226);
}

* p {
    text-align: justify;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.subheading {
    font-family: "Paytone One", sans-serif;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: 600;
    font-size: 30px;
    word-spacing: -7px;
}

.yellow {
    color: rgb(255, 180, 43);
}