@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@685&display=swap');

.blog-heading {
    font-family: 'Outfit', sans-serif;
    font-weight: 685;
    font-size: 95px;
    color: rgb(246, 242, 226);
}

.curved-loop-jacket {
    min-height: 120px;
    height: 100px;
    padding-top: 10px;
    color: rgb(246, 242, 226);
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}